
extends ./layout.pug

block content
    div 
        h1= message
        case selectedAudio
             when null
                p no audio selected
                audio(src='/audios/' controls)
             default
                audio(src='/audios/'+selectedAudio.src controls)

        
        form(action="/audio" method="POST" enctype="multipart/form-data")
            label(for="audio") Select Audio:
            br
            input(
            type='file'
            id="audio"
            name="audio-file"
            )
            br
            button Submit

        ul
            each item in audioList
               li
                    a(href="/audios/"+item._id)= item.name


        //todo
        // --create template so that when you click on a audio link athe audio will be selected and the page will load the selected audio
                
